*{
  margin:0;
  padding: 0;
  box-sizing: border-box  ;
}

/* logo */
img[alt="Logo"]{
    width:5rem;
    border-radius: 1rem;
}
/* body (outer layout)  */
body{
    text-align: center;
    /* display: grid;
     grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: auto; */ 
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.wrapper{
  flex: 1;
}
/* nav, main ,footer  */
/* nav, main, footer{
    grid-column: 1 / -1;
} */
/* contact form (formspree) */
     input[type=text], select, textarea {
        width: 100%; 
        padding: 6px; 
        border: 1px solid #ccc; 
        border-radius: 4px; 
        box-sizing: border-box; 
        margin-top: 6px; 
        margin-bottom: 6px; 
        resize: vertical 
      }
      
      /* Style the submit button with a specific background color etc */
      input[type=submit] {
        background-color: #04AA6D;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      
      /* When moving the mouse over the submit button, add a darker green color */
      input[type=submit]:hover {
        background-color: #45a049;
      }
      
      /* Add a background color and some padding around the form */
      .widespread{
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
        width: 50%;
        margin-bottom: 2.2rem;
      }
      .content-move{
       display: flex;
       justify-content: center;
      
      }
/* pic outer design */
.cards-wrapper {
    width: 20rem;
    border: 2px solid black;
}
/* pic size */
.img-fluid{
  width:20rem;
  object-fit: contain;
  aspect-ratio: 2 / 3;
  padding-block:;
}
/* products to column line */
.books{
    display: flex;
    padding-bottom: 1rem;
}
/* home text to the centre */
.mid{
  margin-top:10rem;
}
footer{
  background: #45a049;
  /* margin-top: 1rem; */
}
      @media (max-width:502px) {
        .container{
          
          justify-content:left;
        }
      }